/**
 * SPDX-FileCopyrightText: 2020 Maximilian Harl
 *
 * SPDX-License-Identifier: CC-BY-SA-4.0
 *
 * Theme for DISS reveal.js slides.
 */

/*LOGOS*/
.reveal .top-logos {
  display: inline-block;
  width: 100%; }

.reveal .fau-logo {
  float: left;
  height: 150px; }

.reveal .rewi-logo {
  margin: right;
  height: 150px; }

.reveal .win-logo {
  margin: 0px 50px 0px 10px;
  height: 100px; }

.reveal .fau-logo-glr {
  margin: 0px 100px;
  height: 107px; }

.reveal .win-logo-glr {
  margin: 50px 100px;
  height: 127px; }

/*TITLE*/
.reveal .course-title {
  margin: 20px 0px 10px 0px; }

.reveal .course-subtitle p {
  font-size: .6em;
  line-height: 1.0;
  margin: 0; }

.reveal .course-context p {
  line-height: 1.2;
  margin: 20px 0;
  }

.reveal .course-group {
  color: #788a82; }

.reveal .course-group p {
  line-height: 1.0;
  font-size: 0.5em; }

.reveal .course-group strong {
  font-weight: bold;
  color: #788a82; }

.reveal .currtopic {
  font-weight: bold;
  font-size: 0.75em; }

.reveal .prevtopic {
  font-weight: lighter;
  font-size: 0.6em; }

.reveal .nexttopic {
  font-weight: normal;
  font-size: 0.7em; }

/*QUIZZES*/
.quizArea, .quizResults {
    zoom: 1;
    height: 530px;
    box-shadow: none !important;
}